body{
    background-color: orange;
    border: 4px solid grey;
}
div{
	margin: 5px;
	padding: 10px;
	border: 5px solid grey;
}
span{
	color:yellow;
}
.teteje{ 
	text-align: center;
}
.Menusav{
	text-align: center;
	margin: 5px;
	border-spacing: 5px;
	word-spacing: 20px;
}
img.Képeim{
	max-width: 100%;
}